<!DOCTYPE html>
<html>
  <head>
    <title>GA Airlines</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header>
      <nav>
          <a href="/flights">ALL FLIGHTS</a>
          <a href="/flights/new">ADD FLIGHTS</a>
      </nav>
    </header>

  <div id="welcome">
    <h1>Let Your Troubles Come In Droves</h1>
    <p>Welcome to GA Airlines</p>
  </div>
    
  </body>
</html>